<%- include('../partials/header')%>

<div class="new-article">
  <form action="/articles" method="POST">
    <label
      >Headline:
      <textarea rows=1 cols=82 name="headline"></textarea>
    </label><br>
    <label
      >Date:
      <input type="datetime-local" name="articleDate" />
    </label><br>
    <label
      >Article Text:<br>
      <textarea rows=45 cols=90 name="articleText"></textarea>
    </label><br>
    <button type="submit" class="submit-article">Submit Article</button>
</form>
</div>

<%- include('../partials/footer')%>
